.modal-background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.modal-container{
    cursor: initial;
    background-color: white;
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 60px 40px;
    box-sizing: border-box;
}

.modalCloseButton {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modalTitle {
    font-size: 36px;
    margin-bottom: 34px;
}

.modalRow {
    display: flex;
    height: 40px;
    align-items: center;
}
.modalRow > label {
    margin-right: 8px;
}

.modalBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalBody > .modalRow {
    margin-bottom: 20px;
}

.modal-container > .MuiSvgIcon-root {
    color: green;
    justify-self: center;
    align-self: center;
    width: 100px;
    height: 100%;
}

.createActivityModal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createActivityModalList {
    width: 100%;
    margin-bottom: 20px;
}

.createActivityModal .MuiFormControl-root.MuiTextField-root {
    flex: 1;
}

.textModal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.textModal > textarea {
    width: 100%;
    height: calc(100% - 60px);
}

.textModal > button {
    margin-top: 20px;
}